.zoom-transition {
  animation: zoomIn 1s ease-in-out;
}
.Zoom-img-in{
  animation: zoomIn 1s ease-in-out;
}      
      
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.left-side {
  animation: slideInLeft 1s ease-in-out;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-70%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-image {
  animation: heroZoom 1.2s ease-out,
             float 3s ease-in-out 1s infinite;
}

/* Custom zoom animation */
@keyframes heroZoom {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Floating effect */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

.r-color{
  color: rgba(97, 219, 251)
}